<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="nav d-flex justify-content-center">
        <div>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> About </a>

                </li>
                <li>
                    <a href="#"> Search </a>

                </li>
                <li>
                    <a href="#"> Cart </a>

                </li>
            </ul>
        </div>

    </div>

</nav>

<div class="second">Buying Farming Equipments Not Simple So Far But We are Here to Overcome this </div>
<div class="main">
    <div class="row">
    <div class="col col-lg-8 md-8">
    <h2><span>Market.</span>The best way to buy the <br>products you love.</h2></div>
    <div class="col col-lg-4 md-4">
        <h2>Visit our store</h2></div>
</div>


    <div class="row">
        <div class="col col-lg-3 md-3">
            <div class="card" style="width: 13rem;">
               
                <div class="card-body">
                    <img class="card-img-top" src="assets/images/logo.png" alt="Card image cap">
                    <h5 >855</h5>
                </div>
            </div>
        </div>
    </div>
</div>
