* {
    margin: 0;
    padding: 0;

}
.navbar{
    background-color: #F5F5F7;
    height: 50px;
}


.navbar ul li  {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    text-align: center ;
    padding: 20px;
    //font-weight: bold;

}
.navbar a{
    color: #000;
    text-decoration: none;
}
.second{
    padding: 20px;
    text-align: center;
}
.main{
    background-color: #F5F5F7;
    height: 100vh;
    
}
.main h2{
    padding: 100px 120px;
    color: #6E6E73;
    font-size: 3em;
}
.main span{
    color: #000;
}
#store a{
    color: #000;
    
list-style: none;
}
#store h3{
    font-size: .5em;
}