<div class="container">

    <div class="row ">

        <div class="col col-lg-3 md-3">
            <div class="card">
                <img id="add" src="assets/images/add.png" alt="dictionary" />
               
            </div>
        </div>

        <div class="col col-lg-9 md-9 d-flex justify-content-end">
            <img class="image" src="assets/images/dictionary.png" alt="dictionary" />
        </div>
    </div>
    <div class="row">
        <div class="leftbox col col-lg-4 md-4">
            <mat-tab-group style="width: 100%;"  >
                <mat-tab label="Top Searched">  <h2>Top Searched</h2>
                    <div class="card1">
                        <h3>har</h3>
                        <p>Lorem ipsum dolor sit amet. </p>
                        
                    </div>
                    <div class="card1">
                        <h3>har</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="card1">
                        <h3>har</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="card1">
                        <h3>har</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div> </mat-tab>
                <mat-tab label="Saved Words"> Content 2 </mat-tab>
              
              </mat-tab-group>
          
        </div>

        <div class="rightbox col col-lg-8 md-8">
            <div class="row">
                <div class="col col-lg-6 col-md-6">
                    <div class="stcard ">
                        <h2>Word of the day</h2>

                        <div class="card2 ">
                            <h3>diibaacha</h3>
                            <span>दीबाचा<strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>>دِیباچَہ</span>
                            <p>Origin - Persian</p>
                            <div class="card3  ">
                                <p>Meaning </p>
                                <h3>preface, foreword, preamble</h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 ">

                    <div class="stcard">
                        <h2>Word of the day</h2>
                        <div class="cardbg">
                            <div class="card2 ">
                                <h3>diibaacha</h3>
                                <span>दीबाचा<strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>>دِیباچَہ</span>
                                <p>Origin - Persian</p>
                                <div class="card3  ">
                                    <p>Meaning </p>
                                    <h3>preface, foreword, preamble</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="trwords">
                <h2>Trending Words</h2>

            
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="sidebtn  col-lg-1 md-1">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div class="col-lg-10 md-10 ">
        <div class=" slider hide " style="overflow-x: scroll;">

            <div class="d-flex flex-row justify-content-center ">
               
                    <div class="col col-lg-3 col-md-3">
                        <div class="outcard ">

                            <div class="ncard ">
                                <h3>himaayat</h3>
                                <h4>दीबाचा <strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>دِیباچَہ</h4>
                                <p>Origin - Arabic</p>

                                <p>Support</p>
                                <div class="d-flex justify-content-center" ><a class="btn " href="#" >Learn More</a></div>                                </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <div class="outcard ">

                            <div class="ncard ">
                                <h3>himaayat</h3>
                                <h4>दीबाचा <strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>دِیباچَہ</h4>
                                <p>Origin - Arabic</p>

                                <p>Support</p>
                                <div class="d-flex justify-content-center" ><a class="btn " href="#" >Learn More</a></div>                                </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <div class="outcard ">

                            <div class="ncard ">
                                <h3>himaayat</h3>
                                <h4>दीबाचा <strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>دِیباچَہ</h4>
                                <p>Origin - Arabic</p>

                                <p>Support</p>
                                <div class="d-flex justify-content-center" ><a class="btn " href="#" >Learn More</a></div>                                </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <div class="outcard ">

                            <div class="ncard ">
                                <h3>himaayat</h3>
                                <h4>दीबाचा <strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>دِیباچَہ</h4>
                                <p>Origin - Arabic</p>

                                <p>Support</p>
                                <div class="d-flex justify-content-center" ><a class="btn " href="#" >Learn More</a></div>                                </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <div class="outcard ">

                            <div class="ncard ">
                                <h3>himaayat</h3>
                                <h4>दीबाचा <strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>دِیباچَہ</h4>
                                <p>Origin - Arabic</p>

                                <p>Support</p>
                                <div class="d-flex justify-content-center" ><a class="btn " href="#" >Learn More</a></div>                                </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <div class="outcard ">

                            <div class="ncard ">
                                <h3>himaayat</h3>
                                <h4>दीबाचा <strong> &nbsp;&nbsp;•&nbsp;&nbsp;</strong>دِیباچَہ</h4>
                                <p>Origin - Arabic</p>

                                <p>Support</p>
                                <div class="d-flex justify-content-center" ><a class="btn " href="#" >Learn More</a></div>                                </div>
                        </div>
                    </div>
              

            </div>

        </div>

    </div>
    <div class="sidebtn col-lg-1 md-1">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </div>

</div>
