<div class="second">Buying Farming Equipments Not Simple So Far But We are Here to Overcome this </div>

<div class="main">
    <div class="row">
        <div class="col col-lg-8 md-8">
            <h2><span>AgriMarket.</span>The best way to buy the <br>equipments you want.</h2>
        </div>
        <div class="col col-lg-4 md-4">
            <div class="location d-flex justify-content-end">
                <div class=" d-flex justify align-items-end">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
                </div>
                <div>
                    <h3>
                        Visit our store<br> <a href="#">Find one near you</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row slider hide" style="overflow-x: scroll;">

        <div class="d-flex flex-row ">
            <div class="card">
                <img src="/assets/images/swaraj.webp" />
                <div class="title">Tractors </div>
            </div>
            
            <div class="card">
                <img src="/assets/images/trolley.jpeg" />
                <div class="title">Trolley </div>
            </div>
            <div class="card">
                <img src="/assets/images/seeder.jpg" />
                <div class="title"> Seeder  </div>
            </div>
            <div class="card">
                <img src="/assets/images/cultivator.gif" />
                <div class="title">Cultivator</div>
            </div>
            <div class="card">
                <img src="/assets/images/spray.webp" />
                <div class="title">Spray Pump </div>
            </div>
            <div class="card">
                <img src="/assets/images/harrow.jpeg" />
                <div class="title"> Harrow </div>
            </div>
            <div class="card">
                <img src="/assets/images/harvester.webp" />
                <div class="title">Harvester</div>
            </div>
   

            


        </div>
    </div>
</div>



