<div class="second">Buying Farming Equipments Not Simple So Far But We are Here to Overcome this </div>

<div class="main">
    <div class="row">
        <div class="col col-lg-8 md-8">
            <h2><span>AgriMarket.</span>The best way to buy the <br>equipments you want.</h2>
        </div>
        <div class="col col-lg-4 md-4">
            <div class="location d-flex justify-content-end">
                <div class=" d-flex justify align-items-end">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
                </div>
                <div>
                    <h3>
                        Visit our store<br> <a href="#">Find one near you</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="overflow-x: scroll;">

        <div class="d-flex flex-row ">
            <div class="card">
                <img src="/assets/images/hmt5911.jpg" />
                <div class="title">HMT 5911 <span>&#8377;1,40,000</span></div>
            </div>
            
            <div class="card">
                <img src="/assets/images/laser.jpg" />
                <div class="title">Laser Leveller <span>&#8377;50,000</span></div>
            </div>
            <div class="card">
                <img src="/assets/images/seeder.jpg" />
                <div class="title">Punni Seeder <span>&#8377;90,000</span></div>
            </div>
            <div class="card">
                <img src="/assets/images/swaraj.webp" />
                <div class="title">Swaraj 855 <span>&#8377;4,50,000</span></div>
            </div>
            <div class="card">
                <img src="/assets/images/spray.jpg" />
                <div class="title">Spray Drum 500L <span>&#8377;12,000</span></div>
            </div>
            <div class="card">
                <img src="/assets/images/trolley.jpg" />
                <div class="title">Trolley <span>&#8377;1,50,000</span></div>
            </div>
            <div class="card">
                <img src="/assets/images/hmt5911.jpg" />
                <div class="title">HMT 5911<span>&#8377;80,000</span></div>
            </div>
            <div class="card">
                <img src="/assets/images/seeder.jpg" />
                <div class="title">Punni Seeder <span>&#8377;90,000</span></div>
            </div>

            


        </div>
    </div>
</div>



